<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<a href="/create-category">Create new category</a>
<h1>Category</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="cate : ${categories}">
        <tr>

            <td ><a th:href="@{/view-category/__${cate.id}__ }" th:text="${cate.name}"></a></td>
            <td><a th:href="@{/edit-category/__${cate.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${cate.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>